@charset "UTF-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

a{
    text-decoration: none;
    font-family: 'Noto Sans KR', sans-serif;
    color:  #4A4A4A;
}

/* 리셋코드 end */

body, html{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #fff;
    color:  #4A4A4A;
}

/* 본문 시작 */

@media all and (min-width:1220px) { 

/* 헤더 */
header{
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}

div.header_inner{
    width: 1200px;
    height: 60px;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

div.header_inner h1{
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    padding-top: 15px;
    padding-left: 15px;
}

div.header_inner h1 a img{
    height: 30px;
}

div.header_inner nav{
    display: inline-block;
    box-sizing: border-box;
    padding-top: 22px;
}

div.header_inner nav ul{
    display: flex;  
}

div.header_inner nav ul li{
    margin: 0 15px;
}

div.header_inner nav ul li a span{
    font-size: 18px;
    font-weight: 500;
    box-sizing: border-box;
    
}

div.header_inner nav ul li:hover a span{
    color: #1D2088;
    padding-bottom: 11px;
    border-bottom: 5px solid #E60013;
}

/* 메인 시작 */

main{
    width: 100%;
    height: auto;
}

/* 섹션 01 */

section.sec_01{
    width: 100%;
    height: 240px;
    box-sizing: border-box;
    background-image: url(../img/header/sub_header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-top: 60px;
}

section.sec_01 div.sec_inner{
    width: 1200px;
    height: 240px;
    box-sizing: border-box;
    margin: 0 auto;  
    display: grid;
    align-content: center;
    justify-content: center;   
}

section.sec_01 div.sec_inner h2{
    font-size: 46px;
    font-weight: 500;
    color: #fff;   
}

/* 섹션 02 */

section.sec_02{
    width: 100%;
    height: 840px;
    box-sizing: border-box;
    background-color: #fff;
}

section.sec_02 div.sec_inner{
    width: 1200px;
    height: 840px;
    box-sizing: border-box;
    margin: 0 auto;    
    padding-top: 120px;    
}

section.sec_02 div.sec_inner h3{
    text-align: center;
    margin-bottom: 100px;
    font-size: 40px;
    font-weight: 500;
}

section.sec_02 div.sec_inner>div{
    display: grid;
    grid-template-columns: 7fr 5fr;
    grid-column-gap: 24px;
}

section.sec_02 div.sec_inner>div>div:nth-of-type(1){
    width: 100%;
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    display: grid;
    align-content: center;
}

section.sec_02 div.sec_inner>div>div>iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


section.sec_02 div.sec_inner>div>div:nth-of-type(2){
    box-sizing: border-box;
    padding: 30px;
    border-radius: 20px 100px 20px 100px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

section.sec_02 div.sec_inner>div>div:nth-of-type(2) h6{
    font-size: 26px;
    font-weight: 500;
    color: #383B8A;
    margin-bottom: 26px;
    line-height: 1.5;
    box-sizing: border-box;
    padding-left: 10px;
}

section.sec_02 div.sec_inner>div>div:nth-of-type(2) p:nth-of-type(1){
    font-size: 16px;
    line-height: 1.7;
    text-align: justify;
    word-wrap: break-word;
    word-break: break-all;
    margin-bottom: 30px;
}

section.sec_02 div.sec_inner>div>div:nth-of-type(2) p:nth-of-type(2){
    text-align: right;
    font-weight: 500;
}

/* 섹션 03 */

section.sec_03{
    width: 100%;
    height: 850px;
    box-sizing: border-box;
    background-image: url(../img/header/sub_struct.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: rgb(77, 61, 43);   
    background-blend-mode: screen; 
}

section.sec_03 div.sec_inner{
    width: 1200px;
    height: 850px;
    box-sizing: border-box;
    margin: 0 auto;    
    padding-top: 120px;     
}

section.sec_03 div.sec_inner h3{
    text-align: center;
    margin-bottom: 100px;
    font-size: 40px;
    font-weight: 500;
    color: #fff;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

section.sec_03 div.sec_inner img{
    margin: 0;
    padding: 0;
    width: 100%;
}

/* 섹션 04 */

section.sec_04{
    width: 100%;
    height: 1150px;
    box-sizing: border-box;
    background-color: #fff;
}

section.sec_04 div.sec_inner{
    width: 1200px;
    height: 1150px;
    box-sizing: border-box;
    margin: 0 auto; 
}

section.sec_04 div.sec_inner h3{
    text-align: center;
    margin-bottom: 100px;
    font-size: 40px;
    font-weight: 500;
    color: #4A4A4A;
    margin-top: 120px;    
}

section.sec_04 div.sec_inner table{
    width: 90%;
    background-color: #ECECEC;
    box-sizing: border-box;
    border-radius: 7px;
    margin: 0 auto;
}

section.sec_04 div.sec_inner table td:nth-of-type(1){
    width: 35%;
    text-align: right;
    box-sizing: border-box;
    padding: 20px 50px 20px 0;
}

section.sec_04 div.sec_inner table td:nth-of-type(2){
    width: 65%;
    text-align: left;
    box-sizing: border-box;
    padding-left: 90px;
    line-height: 1.6;
}


section.sec_04 div.sec_inner table tr:nth-of-type(1) td{
    padding-top: 50px;
}

section.sec_04 div.sec_inner table tr:last-of-type td{
    padding-bottom: 50px;
}

/* 섹션 05 */

section.sec_05{
    width: 100%;
    height: 424px;
    box-sizing: border-box;
    background-color: #fff;
}

section.sec_05 div.sec_inner{
    width: 1200px;
    height: 424px;
    box-sizing: border-box;
    margin: 0 auto; 
    padding-top: 50px;
}

section.sec_05 div.sec_inner div{
    width: 100%;
    height: 250px;
    border-radius: 40px;
    box-sizing: border-box;
    background-image: url(../img/header/sub_fac.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 250px;
}

section.sec_05 div.sec_inner div h3{
    font-size: 40px;
    font-weight: 500;
    color: #fff;
    display: inline-block;   
    margin-left: 180px;
}


section.sec_05 div.sec_inner div a{
    display: inline-block;
    width: 220px;
    height: 70px;
    background-color: #fff;
    border-radius: 20px;
    text-align: center;
    line-height: 70px;
    font-size: 20px;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.7) ;
    vertical-align: super;
    margin-left: 300px;
    transition: 0.2s all;
}


section.sec_05 div.sec_inner div a:hover{
    background-color: #1D2088;
    color: #fff;    
}


/* 탑 버튼 */

div.top{
    display: inline-block;
    position: fixed;
    bottom: 30px;
    right: 30px;
}

div.top a.top_btn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    display: grid;
    justify-content: center;
    align-content: center;   
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3);    
    opacity: 0;
    visibility: hidden;
}

div.top a img{
    width: 30px;
}

div.top a.top_btn.show{
    opacity: 1;
    visibility: visible;
}


/* 푸터 */

footer{
    width: 100%;
    height: 184px;
    box-sizing: border-box;
    background-color: #2B2C41
}

footer div.footer_inner{
    width: 1200px;
    height: 184px;
    box-sizing: border-box;
    margin: 0 auto;    
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;    
    grid-column-gap: 24px;
    padding-top: 40px;
}

footer div.footer_inner>div:nth-of-type(1) p{
    font-size: 16px;
    font-weight: 600;
    color: #C2C2C2;
    margin-bottom: 4px;
}

footer div.footer_inner>div:nth-of-type(1) ul li{
    font-size: 14px;
    line-height: 1.6;
    color: #C2C2C2;
}

footer div.footer_inner>div:nth-of-type(1) ul li span{
    font-weight: 600;
}

footer div.footer_inner>div:nth-of-type(1) ul li br{
    display: none;
}

footer div.footer_inner>div:nth-of-type(2) ul li{
    font-size: 16px;
    line-height: 1.7;    
}

footer div.footer_inner>div:nth-of-type(2) ul li a{
    color: #C2C2C2;
}

footer div.footer_inner>div:nth-of-type(3) a img{
    width: 126px;
    display: grid;
    justify-self: center;
    align-self: center;
}


}

@media all and (min-width:768px) and (max-width:1219px) { 


/* 헤더 */
header{
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}

div.header_inner{
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

div.header_inner h1{
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    padding-top: 15px;
    padding-left: 15px;
}

div.header_inner h1 a img{
    height: 30px;
}

div.header_inner nav{
    display: inline-block;
    box-sizing: border-box;
    padding-top: 22px;
}

div.header_inner nav ul{
    display: flex;  
}

div.header_inner nav ul li{
    margin: 0 15px;
}

div.header_inner nav ul li a span{
    font-size: 18px;
    font-weight: 500;
    box-sizing: border-box;
    
}

div.header_inner nav ul li:hover a span{
    color: #1D2088;
    padding-bottom: 11px;
    border-bottom: 5px solid #E60013;
}


/* 메인 시작 */

main{
    width: 100%;
    height: auto;
}

/* 섹션 01 */

section.sec_01{
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    background-image: url(../img/header/sub_header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-top: 60px;
}

section.sec_01 div.sec_inner{
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    margin: 0 auto;  
    display: grid;
    align-content: center;
    justify-content: center;   
}

section.sec_01 div.sec_inner h2{
    font-size: 46px;
    font-weight: 500;
    color: #fff;   
}

/* 섹션 02 */

section.sec_02{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-color: #fff;
    padding-bottom: 40px;
}

section.sec_02 div.sec_inner{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin: 0 auto;    
    padding: 0 20px;   
    padding-top: 100px; 
}

section.sec_02 div.sec_inner h3{
    text-align: center;
    margin-bottom: 80px;
    font-size: 36px;
    font-weight: 500;
}

section.sec_02 div.sec_inner>div{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 50px;
    box-sizing: border-box;
    padding: 0 60px;
}

section.sec_02 div.sec_inner>div>div:nth-of-type(1){
    width: 100%;
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    display: grid;
    align-content: center;
}

section.sec_02 div.sec_inner>div>div>iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

section.sec_02 div.sec_inner>div>div:nth-of-type(2){
    box-sizing: border-box;
    padding-left: 0px;
}

section.sec_02 div.sec_inner>div>div:nth-of-type(2) h6{
    font-size: 26px;
    font-weight: 500;
    color: #383B8A;
    margin-bottom: 26px;
    line-height: 1.5;
}

section.sec_02 div.sec_inner>div>div:nth-of-type(2) p:nth-of-type(1){
    font-size: 16px;
    line-height: 1.6;
    text-align: justify;
    word-wrap: break-word;
    word-break: break-all;
    margin-bottom: 30px;
}

section.sec_02 div.sec_inner>div>div:nth-of-type(2) p:nth-of-type(2){
    text-align: right;
    font-weight: 500;
}

/* 섹션 03 */

section.sec_03{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-image: url(../img/header/sub_struct.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;  
    padding-bottom: 90px;  
    background-color: rgb(77, 61, 43);   
    background-blend-mode: screen; 
}

section.sec_03 div.sec_inner{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin: 0 auto;    
    padding: 0 20px;      
    padding-top: 100px;        
}

section.sec_03 div.sec_inner h3{
    text-align: center;
    margin-bottom: 80px;
    font-size: 36px;
    font-weight: 500;
    color: #fff;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

section.sec_03 div.sec_inner img{
    margin: 0;
    padding: 0;
    width: 100%;
}

/* 섹션 04 */

section.sec_04{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-color: #fff;
    padding-bottom: 80px;
}

section.sec_04 div.sec_inner{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin: 0 auto; 
    padding: 0 20px;
}

section.sec_04 div.sec_inner h3{
    text-align: center;
    margin-bottom: 80px;
    font-size: 36px;
    font-weight: 500;
    color: #4A4A4A;
    margin-top: 100px;    
}

section.sec_04 div.sec_inner table{
    width: 90%;
    background-color: #ECECEC;
    box-sizing: border-box;
    border-radius: 7px;
    margin: 0 auto;
}

section.sec_04 div.sec_inner table td:nth-of-type(1){
    width: 30%;
    text-align: right;
    box-sizing: border-box;
    padding: 20px 50px 20px 0;
}

section.sec_04 div.sec_inner table td:nth-of-type(2){
    width: 70%;
    text-align: left;
    box-sizing: border-box;
    padding-left: 40px;
    line-height: 1.6;
}


section.sec_04 div.sec_inner table tr:nth-of-type(1) td{
    padding-top: 50px;
}

section.sec_04 div.sec_inner table tr:last-of-type td{
    padding-bottom: 50px;
}

/* 섹션 05 */

section.sec_05{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-color: #fff;
    padding-bottom: 100px;
}

section.sec_05 div.sec_inner{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin: 0 auto; 
    padding: 0 40px;      
    padding-top: 50px;
}

section.sec_05 div.sec_inner div{
    width: 100%;
    height: 200px;
    border-radius: 40px;
    box-sizing: border-box;
    background-image: url(../img/header/sub_fac.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 200px;
}

section.sec_05 div.sec_inner div h3{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
    display: inline-block;   
    margin-left: 80px;
}


section.sec_05 div.sec_inner div a{
    display: inline-block;
    width: 180px;
    height: 60px;
    background-color: #fff;
    border-radius: 16px;
    text-align: center;
    line-height: 60px;
    font-size: 18px;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.7) ;
    vertical-align: super;
    margin-left: 80px;
    transition: 0.2s all;
}


section.sec_05 div.sec_inner div a:hover{
    background-color: #1D2088;
    color: #fff;    
}

/* 탑 버튼 */

div.top{
    display: inline-block;
    position: fixed;
    bottom: 30px;
    right: 30px;
}

div.top a.top_btn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    display: grid;
    justify-content: center;
    align-content: center;   
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3);    
    opacity: 0;
    visibility: hidden;
}

div.top a img{
    width: 30px;
}

div.top a.top_btn.show{
    opacity: 1;
    visibility: visible;
}


/* 푸터 */

footer{
    width: 100%;
    height: 184px;
    box-sizing: border-box;
    background-color: #2B2C41
}

footer div.footer_inner{
    width: 100%;
    height: 184px;
    box-sizing: border-box;
    margin: 0 auto;    
    display: grid;
    grid-template-columns: 6fr 1fr 1fr;    
    grid-column-gap: 24px;
    padding: 0 20px;
    padding-top: 40px;
}

footer div.footer_inner>div:nth-of-type(1) p{
    font-size: 16px;
    font-weight: 600;
    color: #C2C2C2;
    margin-bottom: 4px;
}

footer div.footer_inner>div:nth-of-type(1) ul li{
    font-size: 14px;
    line-height: 1.6;
    color: #C2C2C2;
}

footer div.footer_inner>div:nth-of-type(1) ul li span{
    font-weight: 600;
}

footer div.footer_inner>div:nth-of-type(1) ul li br{
    display: none;
}

footer div.footer_inner>div:nth-of-type(2) ul li{
    font-size: 16px;
    line-height: 1.7;    
}

footer div.footer_inner>div:nth-of-type(2) ul li a{
    color: #C2C2C2;
}

footer div.footer_inner>div:nth-of-type(3) a img{
    width: 126px;
    display: grid;
    justify-self: center;
    align-self: center;
}

}


@media all and (max-width:767px) { 



/* 헤더 */

header{
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}

div.header_inner{
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

div.header_inner h1{
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    padding-top: 5px;
    padding-left: 15px;
}

div.header_inner h1 a img{
    height: 30px;
}

div.header_inner nav{
    display: inline-block;
    box-sizing: border-box;
    padding-top: 12px;
    padding-right: 5px;
}

div.header_inner nav ul{
    display: flex;  
}

div.header_inner nav ul li{
    margin: 0 7px;
}

div.header_inner nav ul li a span{
    font-size: 14px;
    font-weight: 500;
    box-sizing: border-box;
    
}

div.header_inner nav ul li:hover a span{
    color: #1D2088;
    padding-bottom: 7px;
    border-bottom: 3px solid #E60013;
}

/* 메인 시작 */

main{
    width: 100%;
    height: auto;
}

/* 섹션 01 */

section.sec_01{
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    background-image: url(../img/header/sub_header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-top: 40px;
}

section.sec_01 div.sec_inner{
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    margin: 0 auto;  
    display: grid;
    align-content: center;
    justify-content: center;   
}

section.sec_01 div.sec_inner h2{
    font-size: 28px;
    font-weight: 500;
    color: #fff;   
}

/* 섹션 02 */

section.sec_02{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-color: #fff;
    padding-bottom: 80px;
}

section.sec_02 div.sec_inner{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin: 0 auto;    
    padding: 0 20px;   
    padding-top: 70px; 
}

section.sec_02 div.sec_inner h3{
    text-align: center;
    margin-bottom: 60px;
    font-size: 24px;
    font-weight: 500;
}

section.sec_02 div.sec_inner>div{
    display: grid;
    grid-template-rows: 1fr 1.2fr;
    grid-row-gap: 0px;
    box-sizing: border-box;
    padding: 0px;
}

section.sec_02 div.sec_inner>div>div:nth-of-type(1){
    width: 100%;
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    display: grid;
    align-content: center;
}

section.sec_02 div.sec_inner>div>div>iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


section.sec_02 div.sec_inner>div>div:nth-of-type(2){
    box-sizing: border-box;
    padding-left: 0px;
}

section.sec_02 div.sec_inner>div>div:nth-of-type(2) h6{
    font-size: 22px;
    font-weight: 500;
    color: #383B8A;
    margin-bottom: 26px;
    line-height: 1.5;
}

section.sec_02 div.sec_inner>div>div:nth-of-type(2) p:nth-of-type(1){
    font-size: 15px;
    line-height: 1.6;
    text-align: justify;
    word-wrap: break-word;
    word-break: break-all;
    margin-bottom: 30px;
}

section.sec_02 div.sec_inner>div>div:nth-of-type(2) p:nth-of-type(2){
    text-align: right;
    font-weight: 500;
}

/* 섹션 03 */

section.sec_03{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-image: url(../img/header/sub_struct.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;  
    padding-bottom: 80px;  
    background-color: rgb(77, 61, 43);   
    background-blend-mode: screen; 
}

section.sec_03 div.sec_inner{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin: 0 auto;    
    padding: 0 20px;      
    padding-top: 80px;    
}

section.sec_03 div.sec_inner h3{
    text-align: center;
    margin-bottom: 50px;
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

section.sec_03 div.sec_inner img{
    margin: 0;
    padding: 0;
    width: 100%;
}

/* 섹션 04 */

section.sec_04{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-color: #fff;
    padding-bottom: 60px;
}

section.sec_04 div.sec_inner{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin: 0 auto; 
    padding: 0 20px;
}

section.sec_04 div.sec_inner h3{
    text-align: center;
    margin-bottom: 60px;
    font-size: 24px;
    font-weight: 500;
    color: #4A4A4A;
    margin-top: 80px;    
}

section.sec_04 div.sec_inner table{
    width: 100%;
    background-color: #ECECEC;
    box-sizing: border-box;
    border-radius: 7px;
    margin: 0 auto;
    font-size: 15px;
   
}

section.sec_04 div.sec_inner table td:nth-of-type(1){
    width: 15%;
    text-align: right;
    box-sizing: border-box;
    padding: 20px 50px 20px 20px;
}

section.sec_04 div.sec_inner table td:nth-of-type(2){
    width: 85%;
    text-align: left;
    box-sizing: border-box;
    padding: 0px 10px 0px 0px;
    line-height: 1.6;
}


section.sec_04 div.sec_inner table tr:nth-of-type(1) td{
    padding-top: 40px;
}

section.sec_04 div.sec_inner table tr:last-of-type td{
    padding-bottom: 40px;
}

/* 섹션 05 */

section.sec_05{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-color: #fff;
    padding-bottom: 80px;
}

section.sec_05 div.sec_inner{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin: 0 auto; 
    padding: 0 20px;      
    padding-top: 40px;
}

section.sec_05 div.sec_inner div{
    width: 100%;
    height: 160px;
    border-radius: 30px;
    box-sizing: border-box;
    background-image: url(../img/header/sub_fac.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

section.sec_05 div.sec_inner div h3{
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    display: inline-block;
    margin: 30px 0 0 0;
    padding: 0;    
}


section.sec_05 div.sec_inner div a{
    display: inline-block;
    width: 140px;
    height: 46px;
    background-color: #fff;
    border-radius: 16px;
    text-align: center;
    line-height: 46px;
    font-size: 15px;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.7) ;
    margin-left: 0px;
    transition: 0.2s all;
    display: grid;
    justify-self: center;    
}


section.sec_05 div.sec_inner div a:hover{
    background-color: #1D2088;
    color: #fff;    
}


/* 탑 버튼 */

div.top{
    display: inline-block;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

div.top a.top_btn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    display: grid;
    justify-content: center;
    align-content: center;   
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3);    
    opacity: 0;
    visibility: hidden;
}

div.top a img{
    width: 30px;
}

div.top a.top_btn.show{
    opacity: 1;
    visibility: visible;
}


/* 푸터 */

footer{
    width: 100%;
    height: 210px;
    box-sizing: border-box;
    background-color: #2B2C41
}

footer div.footer_inner{
    width: 100%;
    height: 210px;
    box-sizing: border-box;
    margin: 0 auto;    
    display: grid;
    grid-template-columns: 6fr 2fr;    
    grid-column-gap: 24px;
    padding: 0 20px;
    padding-top: 20px;
}

footer div.footer_inner>div:nth-of-type(1) p{
    font-size: 14px;
    font-weight: 600;
    color: #C2C2C2;
    margin-bottom: 6px;
}

footer div.footer_inner>div:nth-of-type(1) ul li{
    font-size: 13px;
    line-height: 1.6;
    color: #C2C2C2;
}

footer div.footer_inner>div:nth-of-type(1) ul li span{
    font-weight: 600;
}

footer div.footer_inner>div:nth-of-type(2) ul li{
    font-size: 15px;
    line-height: 2.2;    
}

footer div.footer_inner>div:nth-of-type(2) ul li a{
    color: #C2C2C2;
}

footer div.footer_inner>div:nth-of-type(3) a img{
    display: none;
}


}

