@charset "UTF-8";

@media only screen and (max-width: 1280px) {
        
    header, nav,
    header div.header_inner,
    nav>ul,
    header.shrink nav>ul,
    .mySwiper .swiper-wrapper,
    footer div.footer_inner{
        width: 100%;
    }




    div.swiper-scrollbar{
        visibility: visible;
    }
    


/* 타이틀 이미지 */

div.main_img, 
div.main_img div.wrap{
    width: 100%;
}

/* 네비게이션 */


div.nav_vertical,
div.vertical_nav_back
{
    display: block;
}

header nav>ul{
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
}

header nav{
    width: 100%;
    position: relative;
    
}



nav>ul>li.depth_01{
    display: none;
    
}

nav>ul>li:last-child div div:nth-of-type(4),
nav>ul>li:last-child div div:nth-of-type(5),
nav>ul>li:last-child div div:nth-of-type(6){
    display: none;
    visibility: hidden;
}


nav>ul>li.ham{
    display: inline-block;
    visibility: visible;
    
}


 nav>ul>li.ham>input{
    display: none;
}

nav>ul>li.ham>label{
    display: inline-block;
    width: 50px;
    height: 50px;
    position: relative;
    cursor: pointer;
    z-index: 500;
}

 nav>ul>li.ham>label>span{
    display: inline-block;
    width: 36px;
    height: 2px;
    border-radius: 2px;
    background-color: #fff;
    position: absolute;
    left: 7px;
}

nav>ul>li.ham>label>span:nth-of-type(1){
    top: 10px;
    transition: all 0.2s;
}

nav>ul>li.ham>label>span:nth-of-type(2){
    top: 22px;
    transition: all 0.2s;
}

nav>ul>li.ham>label>span:nth-of-type(3){
    top: 34px;
    transition: all 0.2s;
}

 nav>ul>li.ham>input:checked + label>span:nth-of-type(1){
    transform: rotate(45deg);
    top: 21px;
}

nav>ul>li.ham>input:checked + label>span:nth-of-type(2){
    opacity: 0;
}

nav>ul>li.ham>input:checked + label>span:nth-of-type(3){
    transform: rotate(-45deg);
    top: 21px;
}


 nav ul>li:last-child{
    display: inline-block;
    visibility: visible;
    width: auto;
    position: relative;
      
}

nav>ul>li{
    float: right;
}

nav li.search{
    margin: 0 auto;
}

nav li.search>input{
    width: 300px;
    background-color:rgba(255, 254, 254, 0.5);
}

nav li.search>input:focus{
    background-color: rgba(255,255,255,0.9);
    width: 400px;
}



div.nav_vertical ul li.depth_01{
    display: inline-block;
    font-size: 16px;
    width: 50%;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
    display: grid;
    align-content: left;
    z-index: 1;
}

div.nav_vertical ul li.depth_01>a{
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 20px ;
    
}


 div.nav_vertical ul li.depth_01:hover>a{
    background-color: rgba(255, 255,255,1);
    color: #494949;
}


 div.nav_vertical>ul>li.depth_01>ul.depth_02{
    position: absolute;
    left: 50%;
    width: 50%;
    height: auto;
    display: none;
    background-color: rgba(255, 255,255,0.7);
}

div.nav_vertical ul li.depth_01>ul.depth_02>li{
    display: block;
    box-sizing: border-box;
    height: 65px;
    width: 100%;
    
    
}

div.nav_vertical ul li.depth_01>ul.depth_02>li>a{
    display: inline-block;
    box-sizing: border-box;
    width: inherit;
    height: inherit ;
       
}

div.nav_vertical ul li.depth_01>ul.depth_02>li>a>span{
    display: inline-block;
    width: inherit;
    height: inherit;
    box-sizing: border-box;
    line-height: 64px;
    color: #494949;
    padding-left: 10px;
}


div.nav_vertical ul.depth_02>li>a>span:first-child::after{
    height: 64px;
    border-radius: 0;
}

div.nav_vertical ul.depth_02>li:hover>a>span:first-child::after{
    width: 100%;
    height: 64px;
}

div.vertical_nav_back{
    width: 50%;
    height: calc(100% - 50px);
    background-color: rgba(29, 29, 29, 0.9);
    position: fixed;
    top: 100px;
    left: -50%;
    z-index: -1;
    transition: all 0.3s;
}


div.nav_vertical{
    position: fixed;
    width: 50%;
    height: auto;
    top: 100px;
    left: -50%;
    transition: all 0.3s;
    
}


header.shrink nav>ul>li:last-child div div:nth-of-type(4),
header.shrink nav>ul>li:last-child div div:nth-of-type(5),
header.shrink nav>ul>li:last-child div div:nth-of-type(6){
    display: inline-block;
    visibility: visible;
}


header.shrink nav ul>li:last-child>div>div:nth-of-type(3)>a>img{
    border-right: 1px solid #eee;
    padding-right: 20px;
}


header.shrink nav>ul>li.search{
   margin-right: 10px;
}



header.shrink div.vertical_nav_back,
header.shrink  div.nav_vertical{
    top: 50px;
}


/* 루트 */

div.route{
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    padding-left: 20px;
}

div.route div.route_inner{
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    margin: 0 auto;
    line-height: 50px;
    color: #eee;
    
}



/* 베스트셀러 */

div.best_seller,
div.best_seller div.sell_title,
div.best_seller ul
{
    width: 100%;
}

/* 기획전 */

div.arco div.wrapper{
    width: 100%;
}

div.arco div.arco_title{
    width: 100%;  
}


/* 표면 */



div.menu div.menu_title{
    width: 100%;
}

div.menu  div.mySwiper04{
    width: 100%;
    height: auto;
    position: relative;
}

div.menu ul.swiper-wrapper{
    width: 100%;
    
}


/* 아티스트 */

div.collab div.artist_title{
    width: 100%;
}


div.collab div.mySwiper{
    width: 100%;
    height: auto;
    overflow-x: hidden;
    position: relative;
}

div.collab div.mySwiper div.swiper-wrapper{
    box-sizing: border-box;
    width: 100%;
    position: relative;
}

/* 텍스쳐 */

div.texture .mySwiper02{
    width: 100%;
    height: auto;
    overflow-x: hidden;
    position: relative;
    padding-left: 50px;
}


div.texture div.mySwiper02 div.swiper-wrapper{
    box-sizing: border-box;
    width: 100%;
    position: relative;
   
}

div.texture div.tex_title{
    width: 100%;
}


div.texture div.swiper-slide:nth-of-type(2){
    display: block;
}


div.texture div.swiper-slide:nth-of-type(3),
div.texture div.swiper-slide:nth-of-type(4){
    display: none;
}


/* 무엇이 다른가요? */


div.lighters_sort  div.sort_title{
    width: 100%;
}

div.lighters_sort div.mySwiper03{
    width: 100%;
    height: auto;
    overflow-x: hidden;
    position: relative;
    padding-left: 50px;
}


div.lighters_sort div.mySwiper03 div.swiper-wrapper{
    box-sizing: border-box;
    width: 100%;
    position: relative;
    padding-left: 10px;
}


div.lighters_sort div.mySwiper03 div.swiper-wrapper div.swiper-slide:nth-of-type(2){
    width: 100px;
}


div.lighters_sort div.mySwiper03 div.swiper-slide:nth-of-type(2){
    display: block;
}

div.lighters_sort div.mySwiper03 div.swiper-slide:nth-of-type(3),
div.lighters_sort div.mySwiper03 div.swiper-slide:nth-of-type(4){
    display: none;
}



/* 푸터 */

footer{
    width: 100%;
    height: 150px;
    background-color: #000;
    box-sizing: border-box;
    position: relative;
    margin-top: 100px;
}

footer div.footer_inner{
    width: 100%;
    height: 150px;
    box-sizing: border-box;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 20% 40% 40%;
    padding-bottom: 15px;
}

footer div.footer_inner>div>a>img{
    width: 180px;
    margin-top: 55px;
    margin-left: 10px;
    opacity: 0.8;
}

div.top{
    right: 20px;
    bottom: 20px;
}


}





@media only screen and (max-width: 1200px){
   
div.route{
    width: 100%;
    height: 50px;
    box-sizing: border-box;
}

div.route div.route_inner{
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    margin: 0 auto;
    line-height: 50px;
    color: #eee;
    padding-left: 20px;
}



   
   
    div.best_seller ul{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 30px;
        height: 760px;
        
    }

    div.best_seller ul li a{
        width: 100%;
        margin: 0 auto;
    }


    div.arco div.wrapper>div>div{
        width: 100%;
        height: 200px;
        display: block;
        position: relative;
        background-color: rgba(0,0,0,0.9);
        border-radius: 3px;
    }


    
div.arco div.wrapper>div:nth-of-type(1)>div>span:nth-of-type(1),
div.arco div.wrapper>div:nth-of-type(2)>div>span:nth-of-type(1),
div.arco div.wrapper>div:nth-of-type(3)>div>span:nth-of-type(1)
{
    bottom: initial;
    top: -70px;
    font-size: 16px;
}
  
    div.arco div.wrapper>div:nth-of-type(1)>div>p:nth-of-type(1){
        left: 40px;
        top: 10px;
        font-size: 36px;
    }

    div.arco div.wrapper>div:nth-of-type(1)>div>p:nth-of-type(2){
        left: 40px;
        font-size: 14px;
        top: 75px;
    }

    div.arco div.wrapper>div:nth-of-type(1)>div>a{
       position: absolute;
       left: initial;
       top: initial;
       bottom: 30px;
       right: 40px;
       padding: 8px 20px;
       display: inline-block; 
    }

    
    div.arco div.wrapper>div:nth-of-type(2)>div>p:nth-of-type(1){
        left: 40px;
        top: 10px;
        font-size: 36px;
    }
    div.arco div.wrapper>div:nth-of-type(2)>div>p:nth-of-type(2){
        left: 40px;
        font-size: 14px;
        top: 75px;
        text-align: left;
        line-height: 1.5;
    }


    div.arco div.wrapper>div:nth-of-type(2)>div>a{
        position: absolute;
        left: initial;
        top: initial;
        bottom: 30px;
        right: 40px;
        padding: 8px 20px;
        display: inline-block; 
     }
 

    
     div.arco div.wrapper>div:nth-of-type(3)>div>p:nth-of-type(1){
        left: 40px;
        top: 10px;
        font-size: 36px;
    }
    div.arco div.wrapper>div:nth-of-type(3)>div>p:nth-of-type(2){
        left: 40px;
        font-size: 14px;
        top: 75px;
        text-align: left;
        line-height: 1.5;
    }


    div.arco div.wrapper>div:nth-of-type(3)>div>a{
        position: absolute;
        left: initial;
        top: initial;
        bottom: 30px;
        right: 40px;
        padding: 8px 20px;
        display: inline-block; 
     }


     div.menu  div.mySwiper04{
        width: 100%;
        height: 380px;
        margin: 0 auto;
        box-sizing: border-box;
        position: relative;
        padding-top: 150px;
        justify-content: center;
        overflow: hidden;
       
    }
    
    
    div.menu ul.swiper-wrapper{
        width: 100%;
        height: 200px;
        margin: 0 auto;
        box-sizing: border-box;
        position: relative;
        display: flex;
        justify-content: space-around;   
    }




}



@media only screen and (max-width: 960px){

    /* 서치 */
    nav li.search{
        margin-right: auto;
    }
    
    nav li.search>input{
        width: 100px;
        background-color:rgba(255, 254, 254, 0.3);
    }
    
    nav li.search>input:focus{
        background-color: rgba(255,255,255,0.9);
        width: 200px;
    }
    
    
    div.arco div.arco_title>p:nth-of-type(1),
    div.menu div.menu_title>p:nth-of-type(1),
    div.collab div.artist_title>p:nth-of-type(1),
    div.best_seller div.sell_title>p:nth-of-type(1),
    div.texture div.tex_title>p:nth-of-type(1),
    div.lighters_sort  div.sort_title>p:nth-of-type(1){
        font-size: 30px;
    }

    div.arco div.arco_title>p:nth-of-type(2),
    div.menu div.menu_title>p:nth-of-type(2),
    div.collab div.artist_title>p:nth-of-type(2),
    div.best_seller div.sell_title>p:nth-of-type(2),
    div.texture div.tex_title>p:nth-of-type(2),
    div.lighters_sort  div.sort_title>p:nth-of-type(2){
        font-size: 14px;
        font-weight: 400;
    }

   
    div.menu  div.mySwiper04{
        width: 100%;
        height: 380px;
        margin: 0 auto;
        box-sizing: border-box;
        position: relative;
        padding-top: 150px;
        justify-content: center;
        overflow: hidden;
       
    }
    
    
    div.menu ul.swiper-wrapper{
        width: 100%;
        height: 200px;
        margin: 0 auto;
        box-sizing: border-box;
        position: relative;
        display: flex;
        justify-content: space-around;   
    }

 
/* 텍스쳐 */

div.texture div.swiper-slide:nth-of-type(2){
    display: block;
}


div.texture div.swiper-slide:nth-of-type(3),
div.texture div.swiper-slide:nth-of-type(4){
    display: none;
}

/* 소트 */


div.lighters_sort div.mySwiper03 div.swiper-slide:nth-of-type(2){
    display: block;
}

div.lighters_sort div.mySwiper03 div.swiper-slide:nth-of-type(3),
div.lighters_sort div.mySwiper03 div.swiper-slide:nth-of-type(4){
    display: none;
}

    
    /* 푸터 */    
        
    footer{
        width: 100%;
        height: auto;
        background-color: #000;
        box-sizing: border-box;
        position: relative;
        margin-top: 100px;
    }
    
    footer div.footer_inner{
        width: 100%;
        height: auto;
        box-sizing: border-box;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-bottom: 15px;
    }
    
    footer div.footer_inner>div:nth-of-type(1){
        display: none;
        visibility: hidden;
    }
    
    footer div.second{
        padding-left: 30px;
        box-sizing: border-box;
    
    }
    
    footer div.second ul:nth-of-type(2),
    footer div.second ul:nth-of-type(3)
    {
        display: grid;
        
    }
    
    footer div.second ul:nth-child(1){
        margin-top: 10px;
        margin-bottom: 5px;
        margin-left: 10px;
    }
    
    footer div.third{
        box-sizing: border-box;
        padding-left: 40px;
        line-height: 1.4;
    }
    footer div.third p{
        font-size: 16px;
        display: inline-block;
       
    }
    footer div.third p:nth-child(1){
        margin-top: 55px;
    }
    
    footer div.third address{
        font-size: 13px;
        display: inline-block;
    }
    footer div.third address:nth-child(4){
        margin-top: 10px;
    }
    footer div.third p:nth-child(6){
        margin-top: 5px;
        font-size: 14px;
        border-bottom: 1px solid #ddd;
    }
    
    
    }
    



@media only screen and (max-width: 700px){

    div.main_img{
        background-position: 40% center;
    }

    div.main_img div.wrap h3{
        right: 40px;
    }

    div.main_img div.wrap p{
        width: 50%;
        right: 40px;
        top: initial;
        bottom: 0px;
    }

    div.main_img>div.wrap>a.goto{
        top: initial;
        right: 40px;
        bottom: 40px;
    }

/* 네비게이션 */

header div.header_inner ul li a span{
    display: none;
}

header.shrink nav>ul>li:last-child div div:nth-of-type(4),
header.shrink nav>ul>li:last-child div div:nth-of-type(5),
header.shrink nav>ul>li:last-child div div:nth-of-type(6){
    display: none;
}

header.shrink nav>ul>li:last-child>div>div:nth-of-type(3)>a>img{
    border:none;
    padding-right: 0px;
}



div.nav_vertical ul li.depth_01{
    display: inline-block;
    font-size: 16px;
    width: 50%;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
    display: grid;
    align-content: left;
    z-index: 1;
}

div.nav_vertical ul li.depth_01>a{
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 20px ;
    
}


 div.nav_vertical ul li.depth_01:hover>a{
    background-color: rgba(255, 255,255,1);
    color: #494949;
}


 div.nav_vertical>ul>li.depth_01>ul.depth_02{
    position: absolute;
    left: 50%;
    width: 50%;
    height: auto;
    display: none;
    background-color: rgba(255, 255,255,0.7);
}

div.nav_vertical ul li.depth_01>ul.depth_02>li{
    display: block;
    box-sizing: border-box;
    height: 65px;
    width: 100%;
    
    
}

div.nav_vertical ul li.depth_01>ul.depth_02>li>a{
    display: inline-block;
    box-sizing: border-box;
    width: inherit;
    height: inherit ;
       
}

div.nav_vertical ul li.depth_01>ul.depth_02>li>a>span{
    display: inline-block;
    width: inherit;
    height: inherit;
    box-sizing: border-box;
    line-height: 64px;
    color: #494949;
    padding-left: 10px;
}


div.nav_vertical ul.depth_02>li>a>span:first-child::after{
    height: 64px;
    border-radius: 0;
}

div.nav_vertical ul.depth_02>li:hover>a>span:first-child::after{
    width: 100%;
    height: 64px;
}

div.vertical_nav_back{
    width: 100%;
    height: calc(100% - 50px);
    background-color: rgba(29, 29, 29, 0.9);
    position: fixed;
    top: 100px;
    left: -100%;
    z-index: -1;
    transition: all 0.3s;
}


div.nav_vertical{
    position: fixed;
    width: 100%;
    height: auto;
    top: 100px;
    left: -100%;
    transition: all 0.3s;
    
}





    div.main_img div.wrap h3{
        font-size: 24px;
        top: 230px;
    }
    div.main_img div.wrap p{
        font-size: 14px;
        top: 269px;
    }
    
    div.main_img>div.wrap>a.goto{
        font-size: 15px;
        width: 150px;
        height: 50px;
        line-height: 50px;
    }

    div.main_img>div.wrap>a.goto:hover{
        line-height: 49px;
    }

    br.small{
        display: inline-block;
    }


    div.menu div.swiper-wrapper{
        width: 100%;
      
        
    }

/* Route */

div.route{
    width: 100%;
    height: 50px;
    box-sizing: border-box;
}

div.route div.route_inner{
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    margin: 0 auto;
    line-height: 50px;
    color: #eee;
    padding-left: 20px;
}



/* 베스트셀러 */

div.best_seller ul{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: 50px;
    height: auto;
    
}

div.best_seller ul li{
    box-sizing: border-box;
    padding: 0 80px;
    width: 100%;
    height: 365px;
   
}


div.best_seller ul li a{
    width: 100%;
    margin: 0 auto;
}

    
    div.best_seller ul li a span:nth-child(3){
        width: 120px;
    }


    div.best_seller a.more{
        margin-top: 50px;
    }




/* 기획전 */

div.arco div.wrapper{
    padding: 0 20px;
}

    div.arco div.wrapper>div:nth-of-type(1)>div>p:nth-of-type(1){
        left: initial;
        left: 0;
        top: 13px;
        font-size: 26px;
    }

    div.arco div.wrapper>div:nth-of-type(1)>div>p:nth-of-type(2){
        left: initial;
        left: 0;
        font-size: 14px;
        top: 57px;
    }
   
    div.arco div.wrapper>div:nth-of-type(2)>div>p:nth-of-type(1){
        left: initial;
        left: 0;
        top: 13px;
        font-size: 26px;
    }
    div.arco div.wrapper>div:nth-of-type(2)>div>p:nth-of-type(2){
        left: initial;
        left: 0;
        font-size: 14px;
        top: 57px;
        text-align: left;
        line-height: 1.5;
    }

    
    div.arco div.wrapper>div:nth-of-type(3)>div>p:nth-of-type(1){
        left: initial;
        left: 0;
        top: 13px;
        font-size: 26px;
    }
    div.arco div.wrapper>div:nth-of-type(3)>div>p:nth-of-type(2){
        left: initial;
        left: 0;
        font-size: 14px;
        top: 57px;
        text-align: left;
        line-height: 1.5;
    }


    div.arco div.wrapper>div>div>p{
        box-sizing: border-box;
        width: 100%;
        padding: 0 20px;        
        
    }    
    

/* 아티스틑 콜라보레이션 */


div.collab div.mySwiper{
    width: 100%;
    height: auto;
    overflow-x: hidden;
    position: relative;
}

div.collab div.mySwiper div.swiper-wrapper{
    box-sizing: border-box;
    position: relative;   
}

div.collab div.mySwiper div.swiper-wrapper div.swiper-slide{
    width: auto;
    height: auto;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    padding: 0 30px;
}

div.collab div.mySwiper div.swiper-wrapper div.swiper-slide>a{
   width: 100%;
   text-align: center;
   box-sizing: border-box;
   padding: 8px 8px 25px 8px;
    }

    div.collab div.mySwiper div.swiper-wrapper div.swiper-slide>a>img{
        width: 100%;
    }    


    div.collab a.more{
     
        margin-top: 40px;
        
    }
    
 


/* 케이스 데코레이션 */


div.menu  div.mySwiper04{
    width: 100%;
    height: 380px;   
    box-sizing: border-box;
    position: relative;    
    padding-top: 150px;    
    overflow: hidden;    
}


div.menu ul.swiper-wrapper{
    width: 100%;
    height: 200px;   
    box-sizing: border-box;
    position: relative;     
}

div.menu ul.swiper-wrapper li.swiper-slide:nth-of-type(1),
div.menu ul.swiper-wrapper li.swiper-slide:nth-of-type(2),
div.menu ul.swiper-wrapper li.swiper-slide:nth-of-type(3),
div.menu ul.swiper-wrapper li.swiper-slide:nth-of-type(4),
div.menu ul.swiper-wrapper li.swiper-slide:nth-of-type(10),
div.menu ul.swiper-wrapper li.swiper-slide:nth-of-type(11),
div.menu ul.swiper-wrapper li.swiper-slide:nth-of-type(12){
    display: block;
}



div.menu ul.swiper-wrapper li.swiper-slide{
    margin-left: 150px; 
}

div.menu ul.swiper-wrapper li.swiper-slide a{
    width: 220%;   
}


/* 마감 질감 */


div.texture div.mySwiper02{
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    margin-top: 80px;
    overflow: hidden;
}


div.texture div.mySwiper02 div.swiper-wrapper{
    width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;       
}

div.texture div.swiper-slide:nth-of-type(2),
div.texture div.swiper-slide:nth-of-type(3),
div.texture div.swiper-slide:nth-of-type(4){
    display: block;
}

div.texture ul.swiper-slide{
    width: 100%;
    height: 305px;
    box-sizing: border-box;
    margin: 0 auto;    
}

div.texture ul.swiper-slide:nth-of-type(3),
div.texture ul.swiper-slide:nth-of-type(4){
    display: block;
}
  
    div.arco div.arco_title>p:nth-of-type(1),
    div.menu div.menu_title>p:nth-of-type(1),
    div.collab div.artist_title>p:nth-of-type(1),
    div.best_seller div.sell_title>p:nth-of-type(1),
    div.texture div.tex_title>p:nth-of-type(1),
    div.lighters_sort  div.sort_title>p:nth-of-type(1){
        font-size: 30px;
    }

    div.arco div.arco_title>p:nth-of-type(2),
    div.menu div.menu_title>p:nth-of-type(2),
    div.collab div.artist_title>p:nth-of-type(2),
    div.best_seller div.sell_title>p:nth-of-type(2),
    div.texture div.tex_title>p:nth-of-type(2),
    div.lighters_sort  div.sort_title>p:nth-of-type(2){
        font-size: 14px;
        font-weight: 400;
    }

/* 분류 */


div.lighters_sort{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    position: relative;
    margin-top: 100px;
   

}

div.lighters_sort div.mySwiper03{
    width: 100%;
    height: auto;
    position: relative;
   
}



div.lighters_sort div.mySwiper03 div.swiper-slide:nth-of-type(2),
div.lighters_sort div.mySwiper03 div.swiper-slide:nth-of-type(3),
div.lighters_sort div.mySwiper03 div.swiper-slide:nth-of-type(4){
    display: block;
}




/* 푸터 */    
    
footer{
    width: 100%;
    height: auto;
    background-color: #000;
    box-sizing: border-box;
    position: relative;
    margin-top: 100px;
}

footer div.footer_inner{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 15px;
}

footer div.footer_inner>div:nth-of-type(1){
    display: none;
    visibility: hidden;
}

footer div.second{
    padding-left: 10px;
    box-sizing: border-box;

}

footer div.second ul:nth-of-type(2),
footer div.second ul:nth-of-type(3)
{
    display: grid;
    
}

footer div.second ul:nth-child(1){
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
}

footer div.third{
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 10px;
    line-height: 1.4;
}
footer div.third p{
    font-size: 13px;
    display: inline-block;
   
}
footer div.third p:nth-child(1){
    margin-top: 60px;
}

footer div.third address{
    font-size: 12px;
    display: inline-block;
}
footer div.third address:nth-child(4){
    margin-top: 10px;
}
footer div.third p:nth-child(6){
    margin-top: 5px;
    font-size: 12px;
    border-bottom: 1px solid #ddd;
}







}