@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}
html, body{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
    color: #333;
    font-size: 100%;
    box-sizing: border-box;
}
ul, li{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #333;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 100%;
}


@media all and (max-width: 1200px) {
    

/* 헤더 */


/* 네비게이션 */



nav.nav_full{
    width: 100%;
    padding: 0;
    margin: 0;
}


nav.nav_full div.inner {
width: 100%;
height: 270px;
top: 10px;
display: grid;
grid-template-columns: repeat(5, 1fr);
box-sizing: border-box;
padding: 20px;

}


nav.nav_full div.inner div[class*='nav']>a{
width: 100%;
display: grid;
font-weight: 600;
margin-left: 0px;
padding: 3px 0;

}

nav.nav_full div.inner div[class*='nav']{
    width: 100%;
    height: 100%;
    margin-top: 20px;
    display: initial;    
 }

nav.nav_full div.inner div[class*='nav'] ul{
width: 100%;
display: block;
margin: 0;
padding: 0;
line-height: 1;
text-align: center;
}

nav.nav_full div.inner div[class*='nav'] ul li{
width:100%;
display: inline-block;
margin: 0;
padding: 0;

}

nav.nav_full div.inner div[class*='nav'] ul li a{
width: 100%;
display: inline-block;
padding: 5px 0;
margin: 5px 0;
font-size: 16px;
display: block;
}


nav.nav_full div.inner div[class*='nav'] ul li span{
display: none;
}



/* 스와이퍼 */


div.mySwiper02{
    display: none;
}


/* 주요 행사 */

div.section_01{
    width: 100%;
    height: auto;
    padding-top: 0px;
    margin-top: 55px;
}

div.section_01 div.prize{
    width: 100%;
    height: auto;
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(4, 1fr); 
   
}

div.section_01 div.prize>div{
    width: 100%;
    height: 20vw;
    box-sizing: border-box;
    position: relative;
}

div.section_01 div.prize div.h3{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    display: grid;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    position: relative;
    box-sizing: border-box;
    background-color: #FFF;
    
}

div.section_01 div.prize div.h3 a{
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 18px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    display: grid;
    align-content:center;
    padding: 0;
    margin: 0;
}


div.section_01 div.prize div.h3 a img{
    width: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 65%;
}


div.section_01 div.prize div.one{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    justify-items: center;
    position: absolute;
    top: 0;
    left: 0;
    position: relative;
    box-sizing: border-box;
}


div.section_01 div.prize div.one a.title{
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: #997572;
}


div.section_01 div.prize div.one a.title span{
    width: 55%;
    text-align: center;
    display: grid;
    justify-self: center;
}

div.section_01 div.prize div.one a.poster,
div.section_01 div.prize div.one a.submit,
div.section_01 div.prize div.one a.more
{
    display: none;
}

div.section_01 div.prize div.two{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
    position: absolute;
    top: 0;
    left: 0;
    position: relative;
    box-sizing: border-box;
    display: grid;
    justify-content: center;
    align-content: center;
  
}


div.section_01 div.prize div.two a.title{
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: #aaa587;
}

div.section_01 div.prize div.two a.title span{
    width: 65%;
    text-align: center;
    display: grid;
    justify-self: center;
}


div.section_01 div.prize div.two a.poster,
div.section_01 div.prize div.two a.submit,
div.section_01 div.prize div.two a.more
{
    display: none;
}

div.section_01 div.prize div.three{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 4;
    grid-column-end: 5;
    position: absolute;
    top: 0;
    left: 0;
    position: relative;
    box-sizing: border-box;
}


div.section_01 div.prize div.three a.title{
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: #997572;
}


div.section_01 div.prize div.three a.title span{
    width: 100%;
    text-align: center;
    display: grid;
    justify-self: center;
}


div.section_01 div.prize div.three a.poster,
div.section_01 div.prize div.three a.submit,
div.section_01 div.prize div.three a.more
{
    display: none;
}

div.section_01 div.prize div.four{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    position: absolute;
    top: 0;
    left: 0;
    position: relative;
    box-sizing: border-box;
}

div.section_01 div.prize div.four a.title{
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    display: grid;
    justify-content: center;
    align-content: center;
    background-color:  #997572 ;
}

div.section_01 div.prize div.four a.title span:nth-child(1){
    display: none;
}

div.section_01 div.prize div.four a.title span:nth-child(2){
    display: inline-block;
    width: 100%;
    text-align: center;
    display: grid;
    justify-self: center;
}

div.section_01 div.prize div.four a.poster,
div.section_01 div.prize div.four a.submit,
div.section_01 div.prize div.four a.more
{
    display: none;
}

div.section_01 div.prize div.five{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    position: absolute;
    top: 0;
    left: 0;
    position: relative;
    box-sizing: border-box;
}

div.section_01 div.prize div.five a.title{
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: #aaa587;
}

div.section_01 div.prize div.five a.title span{
    width: 100%;
    text-align: center;
    display: grid;
    justify-self: center;
}

div.section_01 div.prize div.five a.submit,
div.section_01 div.prize div.five a.more
{
    display: none;
}

div.section_01 div.prize div.six{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    position: absolute;
    top: 0;
    left: 0;
    position: relative;
    box-sizing: border-box;
}

div.section_01 div.prize div.six a.title{
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: #997572 ;
}

div.section_01 div.prize div.six a.title span{
    width: 100%;
    text-align: center;
    display: grid;
    justify-self: center;
}

div.section_01 div.prize div.six a.submit,
div.section_01 div.prize div.six a.more
{
    display: none;
}

div.section_01 div.prize div.seven{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 5;
    position: absolute;
    top: 0;
    left: 0;
    position: relative;
    box-sizing: border-box;
}

div.section_01 div.prize div.seven a.title{
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: #aaa587;
}


div.section_01 div.prize div.seven a.title span{
    width: 50%;
    text-align: center;
    display: grid;
    justify-self: center;
}

div.section_01 div.prize div.seven a.poster,
div.section_01 div.prize div.seven a.submit,
div.section_01 div.prize div.seven a.more
{
    display: none;
}

div.section_01 div.prize>div>div:nth-child(1)
{
    display: none;
}


div.section_01 div.prize div.white,
div.section_01 div.prize div.gray,
div.section_01 div.prize div.black{
    display: none;
}

div.section_01 div.prize div a.title span:last-child{
    display: inline-block;
    width: 85%;
    height: 17vw;
    border: 1px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s;
}

div.section_01 div.prize div a.title:hover span:last-child{
    border: 2vw solid #eee;
    z-index: 10;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}


div.section_01 div.prize div a.title img{
    display: inline-block;
    box-shadow: none;
    margin: 0 auto;
    margin-bottom: 1.5vw;    
}


div.section_01 div.prize div a.title{
    font-size: 15px;
    font-weight: 400;
    color: rgb(48, 45, 45);
}

div.section_01 div.prize div.one a.title{
    font-weight: 400;
}


div.section_01 div.prize div.one a.title img{
    width: 45px;
}

div.section_01 div.prize div.two a.title img{
    width: 55px;
}

div.section_01 div.prize div.three a.title img{
    width: 50px;
}

div.section_01 div.prize div.four a.title img{
    width: 42px;
}

div.section_01 div.prize div.five a.title img{
    width: 35px;
}

div.section_01 div.prize div.six a.title img{
    width: 55px;
}

div.section_01 div.prize div.seven a.title img{
    width: 49px;
}




/* 로그인창 삭제 */

div.login{
    display: none ;
}



/* bqnner 삭제 */

div.banner{
    display: none;
}


/* 자주 사용하는 메뉴 */
div.menu{
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    margin-top: 0px;
   
}
div.menu div.menu_inner{
    width: 100%;
    height: 10vw;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-template-rows: auto;  
}

div.menu_inner div.cell {
    width: 100%;
    height: 9vw;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
}

div.menu_inner div.cell a{
    display: grid;
    grid-template-columns: auto auto;
    width: 95%;
    height: 90%;
    margin: 0;
    border: none;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: relative;
   
}

div.menu_inner div.cell a img{
  display: none;
}


div.menu_inner div.cell a span{
    font-size: 16px;
    width: 9vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: grid;
    justify-items: center;
}



/* 공지사항 */

div.con_section{
    width: 100%;
    height: 350px;
    margin-top: 0px;   
    box-sizing: border-box;
}

div.con_section div.con_inner
{
    width: 100%;
    height: 100%;
    box-sizing: border-box;   
    position: initial;
    display: grid;
    grid-template-columns: 1fr;
}
div.con_section div.con_inner div.news{
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

div.con_section div.con_inner div.news div.content{
    width: 100%;
    box-sizing: border-box;
    height: auto;
    
}


div.con_section div.con_inner div.news div.title a{
    text-align: center;
    line-height: 35px;
}

div.con_section div.con_inner div.news div.content>ul[class*="notice"] {
    width: 100%;
    box-sizing: border-box;
    
    
}

div.con_section div.con_inner div.news div.content>ul[class*="notice"] li a{
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 2fr 10fr 1fr 1fr 3fr;
    
}

div.con_section div.con_inner div.news div.content>ul[class*="notice"] li a span{
    display: inline-block;
    height: 100%;
    
    
}

div.con_section div.con_inner div.news div.content>ul[class*="notice"] li a span{
   padding: 0;
}

div.con_section div.con_inner div.news div.content ul li a span:nth-child(3){
    display: inline-block;
    text-align: center;
}

div.con_section div.con_inner div.news div.content ul li a span:nth-child(4){
    position: static;
    text-align: center;
}



div.menu_inner div.cell img{
    display: none;
}




/* sns */

div.sns{
    width: 100%;
    height: auto;
    background-color: #e2e0d9;
    position: initial;
    box-sizing: border-box;
    padding: 50px 0 60px 0;
    margin-top: 10px;
}

div.sns_inner{
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);    
}

div.sns_inner>div{
    width: 100%;
    overflow: hidden;
}

div.sns_inner>div a{
    width: 100%;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    position: relative;
}

div.sns_inner a img{
    width: 100%;
    transition: all  0.3s;
}

div.sns_inner a span:nth-child(2){
    z-index: 5;
    color: #eee;
    position: absolute;
    top:0;
    left:0;
    font-size: 14px;
    line-height: 1.6;
    display: inline-block;
    background-color: rgba(0, 0,0,0.6);
    width: inherit;
    height: inherit;
    display: grid;
    justify-items: center;
    align-items: center;
    font-weight: 400;
    opacity: 0;
    transition: all 0.5s;
    transition-delay: 0.5s;
}

div.sns_inner a span:nth-child(3){
    z-index: 5;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    width: 140px;
    height: 60px;
    text-align: center;
    line-height: 40px;   
    opacity: 0;   
    transition: all 0.3s;
    /* transition-delay: 0.2s; */
}

div.sns_inner a:hover span:nth-child(2){
    opacity: 1;
}


div.sns_inner a:hover span:nth-child(3){
    opacity: 1;
}

div.sns_inner a:hover img{
    transform: scale(1.3,1.3);
}

div.sns>p{
    margin-bottom: 40px;
    text-align: center;  
}

div.sns p.item1{
    color: rgb(102, 93, 85);
    font-size: 18px;
    font-weight: 500;
}



/* footer */

footer{
    width: 100%;
    background-color: #676563;
    position: initial;
    box-sizing: border-box;
    padding: 0 10px;
    
}
div.footer_inner{
    width: 100%;
    position: relative;
    box-sizing: border-box;
    
  
}


footer div.footer_inner div:nth-child(3)>div.banner{
    width: 150%;
    height: 450px;
    position: absolute;
    box-sizing: border-box;
    left: 20px ;
    top: -500px;
    background-color: #fff;
    border-radius: 3px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(5, auto);   
    grid-row-gap: 10px;
    box-shadow: 3px 4px 5px 1px rgba(0, 0, 0, 0.4);
    display: none;
    z-index: 200;
} 


footer div.footer_inner div:nth-child(3)>div.relative{
    width: 100%;
    height: 230px;
    position: absolute;
    box-sizing: border-box;
    left: 0px ;
    top: -220px;
    background-color: #fff;
    border-radius: 3px;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(3, auto);
    z-index: 200;
    grid-row-gap: 10px;
    box-shadow: 3px 4px 5px 1px rgba(0, 0, 0, 0.4);
    display: none; 
} 

footer div.footer_inner div:nth-child(3)>div.local{
    width: 100%;
    height: 150px;
    position: absolute;
    box-sizing: border-box;
    left: 0 ;
    top: -140px;
    background-color: #fff;
    border-radius: 3px;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(3, auto);
    z-index: 5;
    box-shadow: 3px 4px 5px 1px rgba(0, 0, 0, 0.4);
    display: none; 
} 




}







@media (max-width: 700px){



div.mySwiper{
    margin-top: 50px;
}


    nav.nav_full{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 50px;
        left: initial;
        transform: initial;
        box-sizing: border-box;
        z-index: 120;
        background-color: rgba(255,255,255,0.9); 
               overflow: scroll;
        
    }
    
    
    nav.nav_full div.inner{
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        display: block;
        position: initial;
        top: initial;
        left: initial;
        transform: initial;        
        padding: 40px 30px;          
    }
    
  /*   
    nav.nav_full div.inner div.nav_full_bg{
        width: 100%;
        height: 100%;
        background-color: rgba(255,255,255,0.9);            
        position: absolute;
        top: 50px;
        left: initial;
        transform: initial;
        z-index: 100;        
    }
     */
    nav.nav_full  div.inner div[class*='nav']{
        width: 100%;
        margin: auto;
        display: inline-block;
        box-sizing: border-box;        
        grid-gap: 20px;
        z-index: 120;
        height: 50px;        
        border-bottom: 1px solid #333;
    }
    
    nav.nav_full  div.inner div[class*='nav']>a{
        width: 100%;
        height: 50px;
        line-height: 50px;
        display: inline-block;
        box-sizing: border-box;
        font-weight: 700;
        transition: all 0.3s;        
        font-size: 16px;
        padding-left: 25px;
    }
    
    nav.nav_full  div.inner div[class*='nav'] ul {
        width: 100%;
        box-sizing: border-box;
        display: none;
    }

    nav.nav_full  div.inner div[class*='nav'] ul li{
        width: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
        display: inline-block;
        position: relative;
        
    }
    
    
nav.nav_full div.inner div[class*='nav'] ul li a{
    width: 100%;
    padding: 5px 0;
    margin: 5px 0;
    font-size: 16px;
    display: block;
   
}


    nav.nav_full div.inner div[class*='nav'] ul li span{
        width: 0%;
        height: auto;
        background-color: #666;
        position: absolute;
        bottom: 0px;
        left: 0;
        transition: all 0.2s;
        display: none;
    }
      

    nav.nav_full div.inner div.nav_01,
    nav.nav_full div.inner div.nav_02,
    nav.nav_full div.inner div.nav_03,
    nav.nav_full div.inner div.nav_04,
    nav.nav_full div.inner div.nav_05{
    width: 100%;
    display: inline-block;
    
}

header div.header_inner div.search{
    display: none;
}


header div.header_inner div.lnb a:nth-of-type(1) img{
    display: block;
    width: 22px;
    padding: 0 2px;
} 

header div.header_inner div.lnb a:nth-of-type(2) img{
    display: block;
    width: 24px;
    padding: 0 2px;
} 

header div.header_inner div.lnb a:nth-of-type(3) img{
    display: block;
    width: 24px;
    padding: 0 2px;
} 

header div.header_inner div.lnb a span{
    display: none;
}


nav.nav_full div.search{
    display: block;
    position: initial;
   text-align: center;
   margin-top: 30px;  
   z-index: 500;
}
nav.nav_full div.search>input{
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid  #eee;
    box-sizing: border-box;
    padding-left: 15px;
    padding-bottom: 3px;   
    color: #eee;
    width: 200px;
    transition: all 0.5s;
    box-shadow: 0 2px 0px 0px rgba(0, 0, 0, 0.3);
    
}

nav.nav_full div.search>input:focus{
    width: 200px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
}

nav.nav_full div.search>label>button{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: rgba(255, 255,255,0.8);
    border: none;
    outline: none;
    cursor: pointer;
    text-align: center;
    line-height: 36px;
    margin-left: 2px;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.3);
}



/* 스와이퍼 2 */


div.mySwiper02{
    display: block;
    position: initial;
    width: 100%;
    top: initial;
    height: 120px;
    background-color: #fff;
    overflow-x: hidden;
    margin-top: 15px;
}

div.mySwiper02 div.swiper-wrapper{
    width: 100%;
    height: 120px;  
    box-sizing: border-box;
    
}
div.mySwiper02 div.swiper-wrapper div.swiper-slide{
    width: 100%;
    height: auto;
    box-sizing: border-box;    
    padding: 10px 20px;
}

div.mySwiper02 div.swiper-wrapper div.swiper-slide a{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
    display: grid;
    align-content: center;
    justify-content: center;
    border-radius: 3px;
    border: 2px solid #565656;
    background-color: #fff;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.1);
}

div.mySwiper02 a span{
    color: #333;
    text-shadow: none;
    font-size: 14px;
}

div.mySwiper02 div[class*="swiper-button"]{
    display: none;
}

/*  메뉴 */

div.menu{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 10px;
    margin-top: -30px;    
}

div.menu div.menu_inner{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;   
    grid-gap: 5px;   
}

div.menu_inner div.cell {
    width: 100%;   
    height: 80px;
    padding: 0;
    margin: 0;
    display: inline-block;
    box-sizing: border-box;
    position: initial; 
    top: initial;
    left: initial;
    border: none;        
}

div.menu_inner div.cell a{
    width: 100%;
    height: 80px;
    border: none;
    box-sizing: border-box;
    padding-right: 20px;
    position: relative;
    top: initial;
    left: initial;  
    transform: initial; 
    display: grid;
    grid-template-columns: 1fr 1fr;   
}

div.menu_inner div.cell a img{
  display: inline-block;  
}

div.menu_inner div.cell:nth-of-type(1) img,
div.menu_inner div.cell:nth-of-type(2) img,
div.menu_inner div.cell:nth-of-type(3) img,
div.menu_inner div.cell:nth-of-type(4) img{
    margin: 0;
    display: grid;
    justify-self: flex-end;
    align-self: center;
}

div.menu_inner div.cell a span{
    font-size: 16px;
    width: 100%;
    height: 100%;
    position: initial;
    top: initial;
    left: initial;
    transform: initial;    
    align-content: center;        
}

/* 로그인창 삭제 */

div.login{
    display: none ;
}



/* 달력 삭제 */

div.cal{
    display: none;
}




/* 뉴스 - 공지사항 등 */



div.con_section{
    width: 100%;
    height: auto;
    margin: 0;   
    box-sizing: border-box;  
    margin-top: 10px;  
}


div.con_section div.con_inner
{
    width: 100%;
    height: auto;
    box-sizing: border-box;    
    display: inline-block;
    position: initial;
    top: initial;
    left: initial;
    transform: initial;   
}


div.con_section div.con_inner div.news{
    width: 100%;
    height: 350px;
    overflow: hidden;
    padding: 30px 24px;
    box-sizing: border-box;
    position: initial;
    left: initial;
    transform: initial;   
}


div.con_section div.con_inner div.news div.title{
    width: 100%;
    height: 48px;
    display: flex;
    border-bottom: 2px solid darkkhaki;
    box-sizing: border-box;
    padding-left: 30px;
    overflow:  auto;
    scroll-snap-type: x mandatory;
}


div.con_section div.con_inner div.news div.title a{
    text-align: center;
    line-height: 48px;
    min-width: 100%;
    scroll-snap-align: start;
}


div.con_section div.con_inner div.news div.content{
    width: 100%;
    height: auto;
    box-sizing: border-box;   
    overflow: hidden;
}

  div.con_section div.con_inner div.news div.content>ul[class*="notice"] 
  {
      width: 100%;
      height: auto;
      box-sizing: border-box;
      margin-top: 25px;
      display: grid;
      grid-template-rows: repeat(5, auto);
      grid-gap: 7px;
      font-size: 15px;
      
  }

  div.con_section div.con_inner div.news div.content ul[class*="notice"] li a{
    position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: 80px auto 100px ;
    grid-column-gap: 20px;
    padding-left: 0px;
    
  } 

  div.con_section div.con_inner div.news div.content ul li a{
      display: inline-block;
      padding: 7px 0;
  }

  div.con_section div.con_inner div.news div.content ul li a span{
    display: inline-block;
    
}

div.con_section div.con_inner div.news div.content ul li a span:nth-child(3){
   display: none;
   visibility: hidden;
}

div.con_section div.con_inner div.news div.content ul li a span:nth-child(4){
    display: none;
    visibility: hidden;
}

div.con_section div.con_inner div.news div.content ul li a span:last-child{
    position: initial;
    right: initial;

}

div.con_section div.con_inner div.news div.content>ul[class*="notice"] li a{
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 2fr 4fr 0 0 2fr;
    grid-gap: 0;
}

div.con_section div.con_inner div.news div.content>ul[class*="notice"] li a span{
    display: inline-block;
    height: 100%;
    
    
}

div.con_section div.con_inner div.news div.content>ul[class*="notice"] li a span{
   padding: 0;
}

div.con_section div.con_inner div.news div.content ul li a span:nth-child(1){
    font-weight: 700;

}

div.con_section div.con_inner div.news div.content ul li a span:nth-child(2){
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    
}

div.con_section div.con_inner div.news div.content ul li a span:nth-child(5){
    display: inline-block;
    text-align: right;
    font-size: 13px;
}


div.con_section div.con_inner div.banner{
    display: block;
}


div.banner{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-rows: auto auto;
    grid-row-gap: 10px;
    box-sizing: border-box;
    padding: 28px 24px 20px 24px  ;
    border: none;
    border-top: 1px solid #e2e0d9;
}

div.books a span{
    font-size: 17px;
    font-weight: 600;
}


/*   prize  */

div.section_01 div.prize{
    display: none;
    visibility: hidden;
}



/*    스와이퍼 3     */

div.mySwiper03{
    width: 100%;
    position: relative;
    overflow-x: hidden;
    display: block;
    visibility: visible;
    box-sizing: border-box;
    padding-top: 30px;
    margin-top: 80px;
    background-color: #997572;
}


div.mySwiper03 div.swiper-wrapper{
    width: 100%;   
}

div.mySwiper03 div.swiper-wrapper div.swiper-slide{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 30px 40px;   
}

div.mySwiper03 div.swiper-wrapper div.swiper-slide>div{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 10px 10px 20px 10px;
    border-radius: 3px;
    margin-bottom: 20px;
    background-color: #fff;;
    border: 1px solid #eee;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

div.mySwiper03 div.swiper-wrapper div.swiper-slide>div>a{
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;  
}

div.mySwiper03 div.swiper-wrapper div.swiper-slide>div>a img{
    width: 100%;
    display: inline-block;
    margin: 0 auto;
    padding: 0;
}

div.mySwiper03 div.swiper-wrapper div.swiper-slide>div>div{
    width: 100%;
    box-sizing: border-box;
    padding-left: 10px;
}

div.mySwiper03 div.swiper-wrapper div.swiper-slide>div>div p{
    font-weight: 600;
    font-size: 18px;
    margin: 10px 0;
}

div.mySwiper03 div.swiper-wrapper div.swiper-slide>div>div a{
    display: inline-block;
    margin: 5px 0;
    font-weight: 400;
    font-size: 15px;
    color: #676767;
    border-bottom: 1px solid #676767;
}

/*  SNS 스와이퍼 4 */

div.sns{
    width: 100%;
    height: auto;
    overflow-x: hidden;
    margin: 0;
    padding: 50px 0 40px 0;
    margin-bottom: 50px;
}


div.sns_inner{
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);    
}


div.mySwiper04{
    width: 100%; 
    margin: 0;
    padding: 0;   
}

div.mySwiper04 div.sns_inner.swiper-wrapper{
    width: 100%;
    height: auto;
    position: initial;
    text-align: center;
    margin-bottom: 40px;   
}


div.sns_inner>div a{
    width: 275px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    position: relative;
}

div.sns_inner a img{
    width: 300px;
    transition: all  0.3s;
}

div.mySwiper04 div.swiper-wrapper div.swiper-slide{
    width: 100%;    
}

div.mySwiper04 div.swiper-wrapper div.swiper-slide>a{
    text-align: left;
}


div.mySwiper04 div.swiper-pagination{
    position: initial;
}


div.mySwiper04 div.swiper-pagination span{
    opacity: 0.3;
    border: 1px solid #999;
}




/*    푸터      */


footer{
    width: 100%;
    height: 245px;
    background-color: #676563;
    position: relative;
    box-sizing: border-box;
    
    
}
div.footer_inner{
    width: 100%;
    display: inline-block;
    position: initial;
    left: initial;
    transform: initial;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 15px;  
}


div.footer_inner div:nth-of-type(1){
    position: initial;

}

div.footer_inner div:nth-of-type(1) a{
    font-size: 13px;
}


div.footer_inner div:nth-child(1) br{
    display: block;
}

div.footer_inner div:nth-of-type(2) p {
    width: 100%;
    font-size: 12px;
    display: inline-block;
    word-wrap: break-word;
    word-break: break-all;
}

div.footer_inner div:nth-of-type(2){
    position: initial;
    margin-top: 10px;
}

div.footer_inner div:nth-of-type(3){
    display: none;
}

div.footer_inner a.bottom_logo{
    display: none;
}

div.footer_inner div.sns_link{
    position: absolute;
    top: 0px;
    right: 20px;
}

div.footer_inner div.sns_link a{
    width: 36px;
    height: 36px;   
}

div.footer_inner div.sns_link a i{
    font-size: 20px;
    line-height: 36px;
}

/* 탑 버튼 */

div.top_btn{
    width: 50px;
    height: 50px;
    position: fixed;
    z-index: 100;
    right: 20px;
    bottom: 20px;
}


}